<!-- creating link to something else in navbar is at 16:30 in
    templates video -->
<nav class="navbar navbar-expand-lg navbar-light">
 <a class="navbar-brand" href="{% url 'home' %}">Website</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>


 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">


     {% if user.is_authenticated %}
       <li class="nav-item">
         <a class="nav-link" href="{% url 'all_lessons' %}">Lessons</a>
       </li>

       <li class="nav-item">
         <a class="nav-link" href="{% url 'progress_page' %}">Grades</a>
       </li>

       <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Class
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'create_class' %}">Create a Class </a>
         <a class="dropdown-item" href="{% url 'join_class' %}">Join a Class</a>
       </div>

       <li class="nav-item">
         <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'password_reset' %}">Reset Password</a>
       </li>

        <li class="nav-item">
            <form class="d-flex" method=POST action="{% url 'search' %}">
                {% csrf_token %}
                </br>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-custom" type="submit">Search</button>
      </form>
    </li>
     {% else %}
       <li class="nav-item">
         <a class="nav-link" href="{% url 'signUp' %}">Sign Up</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'login' %}">Login</a>
       </li>
     {% endif %}
     </li>
   </ul>
 </div>
</nav>
