{% extends 'home/base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<center>
    {% if searched %}
        <h1>Search Results For "{{searched}}"</h1>
        <br/>
    </center>
    {% for result in results %}
        <div class="col-md-11">
            <div class="post-card">
                <h2>{{ result.title }}</h2>
                {% if result.type == 'post' %}
                    <p class="custom-text">By: {{ result.author }}</p>
                    <p class="custom-text">Views: {{ result.views }}</p>
                    <a href="{% url 'article-detail' result.pk %}" class="btn btn-custom">Read More</a>
                {% elif result.type == 'comment' %}
                    <p class="custom-text">Comment by {{ result.author }}</p>
                    <a href="{% url 'article-detail' result.post.pk %}" class="btn btn-custom">View Post</a>
                {% elif result.type == 'lesson' %}
                    <a href="{% url 'lesson_detail' result.pk %}" class="btn btn-custom">View Lesson</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <h1>Search Results For " "</h1>
    {% endif %}
{% endblock%}
