{% extends 'home/base.html' %}

{% block content %}
  <h1>Grades</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lesson</th>
        <th>Final Score</th>
        <th>Attempt Scores</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson_score in lesson_scores %}
        <tr>
          <td>{{ lesson_score.lesson.title }}</td>
          <td>{{ lesson_score.final_score }}%</td>
          <td>
            <ul>
              {% for score in lesson_score.scores %}
                <li>{{ forloop.counter }} - {{ score.score }}%</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="{% url 'home' %}" class="btn btn-custom">Back to Home</a></p>
{% endblock %}
